* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popis {
  text-align: center;
}

body {
  line-height: 1.4;
  font-family: "Nunito Sans", sans-serif;
}

.product {
  position: relative;
  padding: 40px 70px;
  margin: 100px auto;
  width: 600px;
  border: 3px double darkgray;
  border-radius: 25px;
  background: linear-gradient(rgb(109, 104, 95), rgb(224, 215, 196));
}

.img {
  display: flex;
  justify-content: center;
}

img {
  border-radius: 35px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(230, 214, 176);
}

.barvy {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 50px 0;
}

.zlata,
.fialova,
.stribrna,
.cerna {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.zlata {
  background-color: goldenrod;
}

.fialova {
  background-color: darkmagenta;
}

.stribrna {
  background-color: silver;
}

.cerna {
  background-color: black;
}

.zlata:hover,
.fialova:hover,
.stribrna:hover,
.cerna:hover {
  transform: scale(1.3);
  box-shadow: #ffffff 0 0 5px 5px;
}

.s.scaled {
  transform: scale(1.3);
  box-shadow: #c8c8c8 0 0 5px 5px;
  border: #ffffff 1px solid;
}

ul {
  margin: 30px 20px;
}

td,
th {
  border: 1px solid black;
  padding: 5px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 5px !important;
}

.novinka {
  position: absolute;
  padding: 10px 20px;
  top: -15px;
  right: -15px;
  background-color: rgb(205, 19, 19);
  border-radius: 10px;
  color: white;
}

iframe {
  width: 100%;
  height: 200px;
  margin: 50px 0 50px 0;
}

.koupit {
  position: absolute;
  color: #ffffff;
  padding: 10px 25px;
  right: 50px;
  bottom: 100px;
  background-image: linear-gradient(
    to bottom,
    rgb(34, 21, 122),
    cornflowerblue
  );
  border-radius: 10px;
  border: none;
  font-size: 1.25rem;
  box-shadow: rgb(166, 166, 166) 0 0 10px 3px;
  transition: transform 0.5s ease-in-out;
}

.koupit:hover {
  box-shadow: white 0 0 10px 5px;
  cursor: pointer;
  transform: scale(1.1);
}

footer {
  margin-top: 40px;
}

footer p {
  font-size: 0.8rem;
}

strong {
  color: rgb(75, 75, 75);
}
